@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --branco: hsl(0, 0%, 98%);
  --cinza: hsl(0, 0%, 41%);
  --preto: hsl(0, 0%, 8%);
}

body {
  font-size: 18px;
  font-family: "Epilogue", sans-serif;
  background-color: var(--branco);
}

header {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px 0 25px;
  margin-bottom: 1.5rem;
}

.logo_principal {
  margin-right: 3rem;
}

a,
p {
  color: var(--cinza);
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

a:hover,
p:hover {
  color: black;
}

.nav.active .menu {
  visibility: visible;
  display: flex;
  flex-direction: column;
  width: 65%;
  overflow-y: auto;
}

.botao_menu {
  display: flex;
  width: 26px;
  height: 26px;
  background-image: url(./images/icon-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
}

.botao_menu.active {
  background-image: url(./images/icon-close-menu.svg);
}

.menu {
  display: block;
  position: absolute;
  background-color: var(--branco);
  width: 0%;
  height: 100vh;
  top: 60px;
  right: 0px;
  transition: 0.6s;
  z-index: 1000;
  visibility: hidden;
  overflow-y: hidden;
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.menu a,
.menu p {
  margin-left: 2rem;
  font-size: 16px;
}

.menu li:last-child {
  margin-bottom: 2.5rem;
}

.dropdown_btn {
  background-image: url(./images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.dropdown_btn.active {
  background-image: url(./images/icon-arrow-up.svg);
  transition: 0.2s;
}

.dropdown_container {
  display: none;
  margin: 0.8rem 0 0.8rem 1.5rem;
  flex-direction: column;
  gap: 12px;
}

.dropdown_container img {
  margin-right: 1rem;
}

.cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.registrar {
  border: 2px solid var(--cinza);
  border-radius: 12px;
  padding: 0.5rem 4rem;
}

.registrar:hover {
  background-color: var(--preto);
  color: var(--branco);
  transition: all 0.7s linear;
}

.hero_mobile {
  width: 100%;
  height: 300px;
  background-image: url(./images/image-hero-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.textos {
  text-align: center;
}

.textos h1 {
  margin: 2rem 0 1.2rem 0;
  color: var(--preto);
  font-weight: 700;
}

.textos p {
  padding: 0 15px;
  color: var(--cinza);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 1.2rem;
}

.textos button {
  appearance: none;
  -webkit-appearance: none;
  -ms-progress-appearance: none;
  background-color: var(--preto);
  color: var(--branco);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  border: 2px solid var(--preto);
  border-radius: 14px;
  padding: 0.8rem 1.8rem;
}

.textos button:hover {
  cursor: pointer;
  background-color: transparent;
  color: black;
  transition: all 0.7s linear;
}

.logos {
  margin: 2.5rem 0 4rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo_patrocinador {
  width: 18%;
  max-width: 98px;
  height: 18%;
}

.hero_desktop {
  display: none;
}

.atribuicao {
  margin: 4rem 0 2rem 0;
  text-align: center;
}

@media (min-width: 1024px) {
  main {
    margin: 2rem 6rem;
    display: flex;
    justify-content: space-between;
  }

  header {
    justify-content: initial;
  }

  .botao_menu {
    display: none;
  }

  .menu {
    position: initial;
    width: 82vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    visibility: initial;
  }

  .menu div:first-child {
    padding-top: 2rem;
  }

  .menu ul {
    flex-direction: row;
  }

  .menu a,
  .menu p {
    margin-left: 0;
    margin-right: 2rem;
  }

  .dropdown_btn {
    background-position: right 15% top 10%;
  }

  .dropdown_container {
    padding: 1rem 0 1rem 1rem;
    border-radius: 8px;
    background-color: white;
    -webkit-box-shadow: -10px 0px 13px -7px rgba(0, 0, 0, 0.08),
      10px 0px 13px -7px rgba(0, 0, 0, 0.08),
      5px 4px 10px 5px rgba(0, 0, 0, 0.08);
    box-shadow: -10px 0px 13px -7px rgba(0, 0, 0, 0.08),
      10px 0px 13px -7px rgba(0, 0, 0, 0.08),
      5px 4px 10px 5px rgba(0, 0, 0, 0.08);
  }

  .dropdown_container.one {
    position: absolute;
    top: 70px;
    left: 65px;
  }

  .dropdown_container.two {
    position: absolute;
    top: 70px;
    left: 250px;
  }

  .cadastro {
    flex-direction: row;
  }

  .cadastro a {
    font-size: 16px;
  }

  .registrar {
    margin-left: 2rem;
    margin-right: 0;
    padding: 0.5rem 1rem;
  }

  .hero_mobile {
    display: none;
  }

  .conteudo {
    padding-top: 4rem;
  }

  .textos {
    text-align: left;
  }

  .textos h1 {
    font-size: 94px;
    margin-bottom: 2rem;
  }

  .textos p {
    padding: 0;
    margin-bottom: 2rem;
    width: 65%;
    line-height: 1.5;
  }

  .hero_desktop {
    display: unset;
    width: 657px;
    padding-left: 8rem;
    filter: drop-shadow(0 0 0.75rem #94c6da);
  }

  .logos {
    padding-top: 10rem;
    margin-bottom: 0;
  }
}
